<div class="mx-4 my-4">
  <table class="table" *ngIf="employees.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="employees.length <= 0">No employees to display</p>
</div>
